/* Перенос длинного текста */
.breakable {
  word-wrap: break-word;
  max-width: 120px;
  white-space: normal !important;
}

/* Стили для выпадающего списка */
.statusSelect {
  padding: 3px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: white;
  cursor: pointer;
}
